@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gidget's Gadget's</h1>
    <figure class="figure">
        <img src="~/Images/gadgets.jpg" class="figure-img img-fluid rounded" alt="">
        <figcaption class="figure-caption">We've Got What You Want</figcaption>
    </figure>
    
